:root{
  --color-orange:#e45a2b;
  --color-mustard:rgb(177, 159, 57);
  --font-number:"font-family: 'Festive', cursive;"
}

.cursor{
  position: absolute;
  left: 0; top: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  z-index: 9999;
  background-color:var(--color-orange);
  user-select: none;
  pointer-events: none;
  transition: 
      background-color .2s,
      border-color .2s,
      border-radius .2s,
      transform .6s;
}
.cursor.hovercursor{
  transform: scale(1.4);
  opacity: 0.5;
  transition:transform 0.3s;
}
.mouse__over__style{
  cursor: none;
}
.ally--hidden{
  display: inline-block;
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip:rect(0 0 0 0);
  margin: -1px;
}
.scroll--hidden{
  overflow: hidden;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
  padding: 6em 4em;
  position: relative;
}
.title__container{
  max-width: 1440px;
  padding: 6em 4em;
  margin: 0 auto;
}
.title__container h3{
  font-size: 3.47em;
  line-height: 1.2;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
