/* intro */
.container.intro{
  padding-top: 12em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.intro .img__wrap{
  width: 27.78em;
  height: 41.67em;
  border-radius:15.97em 15.97em 0px 0px;
  overflow: hidden;
  animation: fadeinbg 1s 0.6s forwards ease;
  position: relative;
  opacity: 0;
}
@keyframes fadeinbg {
  from{
    top:60px;
    opacity: 0;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
.intro .img__wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.intro .text__wrap{
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
}
.intro .text__wrap__top{
  display: grid;
  margin-bottom: 11em;
  margin-left: -4em;
  grid-auto-columns: 1fr;
  grid-column-gap: 19.74em;
  grid-row-gap: 16px;
  -ms-grid-columns: auto auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  position: relative;
  opacity: 0;
  animation: fadeintext 1s 0.8s forwards ease;
}
@keyframes fadeintext {
  from{
    top: -20px;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
.intro .text__wrap__top span{
  font-size: 6.94em;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: -3px;
}
.text__wrap .text__wrap__bot{
  width: 63%;
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  position: relative;
  opacity: 0;
  animation: fadeinsubtext 0.6s 1s forwards ease;
}
@keyframes fadeinsubtext {
  from{
    top: 20px;
  }
  to{
    top: 0;
    opacity: 1;
  }
}
.text__wrap .text__wrap__bot p:first-child{
  padding-right: 1em;
  text-align: right;
  max-width: 15.97em;
}
.text__wrap .text__wrap__bot p:last-child{
  padding-left: 1em;
  text-align: left;
  max-width: 15.97em;
}
.intro .intro__scroll{
  position: absolute;
  bottom: 0;
  font-size: 1.5em;
  line-height: 1.2;
  font-family: 'Libre Baskerville', serif;
  color: var(--color-orange);
  animation: fadeinscroll 1s 1s forwards ease;
  opacity: 0;
}
@keyframes fadeinscroll {
  from{
    bottom:-30px ;
  }
  to{
    bottom: 0;
    opacity: 1;
  }
}
/* About */
.container.about{
  padding-top: 16em;
  padding-bottom: 12em;
}
.about .img__wrap{
  width: 27.78em;
  height: 41.67em;
  border-radius:15.97em 15.97em 0px 0px;
  overflow: hidden;
  margin-left: 2.5em;
}
.about .img__wrap .img{
  height: 100%;
  background: url(../img/profile1.jpg);
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}
.about .about__me{
  display: flex;
}
.about  .about__text{
  display: flex;
  flex-direction: column;
  padding-left: 3.12em;
  height: 100%;
  justify-content: center;
  position: relative;
}
.about  .about__text .title p{
  font-size: 3em;
  line-height: 1.3;
}
.about  .about__text .title span{
  position: relative;
}
.about  .about__text .title span::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #000;
}
.about  .about__text .desc{
  max-width: 27.78em;
  margin-top: 3em;
  font-size: 1.25em;
  line-height: 1.5;
}
.about  .about__text .desc p{
  margin-top: 1em;
  word-break: keep-all;
}
.about__text .scroll__img{
  display: inline-block;
  max-width: 100%;
  margin-top: 74px;
}
.about__text .scroll__img img{
  height: 100%;
  object-fit: cover;
}
.about__text  .circle__img{
  position:absolute;
  right: 0;
  bottom: 7.78em;
  animation: infiniteloop 5.5s infinite linear;
}
@keyframes infiniteloop {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
  }
/* Project */
#project{
  margin-bottom: 15em;
}
.title__container{
  max-width: 1440px;
  padding: 6em 4em;
  margin: 0 auto;
}
.title__container h3{
  font-size: 3.47em;
  line-height: 1.2;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}
.project__item{
  display: flex;
}
.project__item li{
  width: 42%;
  padding-right: 16px;
  transform: rotate(-3deg);
  cursor: pointer;
}
.project.contents__wrap{
  background-color: var(--color-mustard);
  color: #fff;
}
.project__item li a{
  display: block;
  width: 100%;
  height: 100%;
}
.project.img__wrap{
  width: 100%;
  height: 50em;
}
.project.img__wrap img{
  height: 100%;
  object-fit: cover;
}
.project__item .text__wrap{
  text-align: center;
}
.project__item .text__wrap h3{
  margin: 0.53em 0;
  font-size: 2.4em;
  line-height: 1.2;
}
.project__item .text__wrap span{
  font-size: 1.25em;
  line-height: 1.5;
  color: var(--color-orange);
}
/* Skill */
#skill{
  margin-bottom: 15em;
}
.container.skill{
  margin-top: 15em;
  height: 60em;
}
.parallax__img__wrap{
  position: absolute;
  z-index: 1;
}
.parallax__img__wrap img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parallax__img__wrap.first{
  top: 17.36em;
  width: 23.06em;
  height: 34.72em;
  margin:0 auto;
}
.parallax__img__wrap.second{
  left: 34.03em;
  right: 34.03px;
  width: 31.94em;
  height: 47.92em;
}
.parallax__img__wrap.third{
  left: 55.76em;
  top: 23.96em;
  right: auto;
  width: 21.46em;
  height: 32.22em;
}
.parallax__img__wrap.four{
  left: auto;
  top: 27.92em;
  right: 0px;
  width: 14.86em;
  height: 22.36em;
}
/* Contact */
#contact{
  height: 48em;
  position: relative;
}
.container.contact{
  padding-top: 12em;
  padding-bottom: 0;
}
.align__center__contact{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.align__center__contact .title{
  width: 53.89em;
}
.title span{
  font-size: 1.5em;
}
.align__center__contact  .contact__email{
  /* color: #fcf9f5; */
  font-size: 1.74em;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 125px;
  text-decoration: underline;
}
.align__center__contact  .contact__info{
  margin-top: 25px;
  font-size: 1.11em;
  line-height: 1.5;
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* color: #fcf9f5; */
}
.align__center__contact  .contact__info a{
  margin-left: 16px;
}
.footer__gradient{
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;
  z-index: 0;
  height: 100vh;
  /* background: linear-gradient(
0deg, #e45a2b, rgba(228, 90, 43, 0)); */
}