/* body */
body{
  font-size: 14.4px;
  font-family: 'Noto Sans KR', sans-serif;
  min-width: 1300px;
  background-color: #fcf9f5;
  line-height: 1.2;
  overflow-x: hidden;
  overflow-y: scroll;
}
/* header */
#header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 1.4em;
  padding-right: 4em;
  padding-left: 4em;
  z-index: 100;
}
/* menu 클릭 시 나오는 메뉴화면 */

#header .gnb {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
#header .gnb ul{
  overflow: hidden;
  width: 170px;
}
#header .menu_gnb{
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease;
  background-color: var(--color-mustard);
}
#header .menu_gnb.showmenu{
  visibility: visible;
  transition: all 0.4s ease;
  opacity: 1;
}
#header .menu_gnb.menu__container{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  padding: 18em 4em  2em;
  color: #fcf9f5;
}
.menu_gnb .menu__content{
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
}
#header .menu__content > ul{
  width: 570px;
  margin: 0 auto;
}
#header .menu__content > ul li a{
  position: relative;
  z-index: 2;
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 5em;
  line-height: 1.2;
  font-weight: 400;
}
#header .menu__content > .menu__list li{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
}
#header .menu__content .menu--num{
  font-family: 'Festive', cursive;
  display: block;
  width: 35px;height: 35px;
  margin-right: 1.2em;
  font-size: 20px;
  margin-top: 10px;
}
#header .menu__content > ul > li:nth-child(1){
  margin-right: 5.35em;
  margin-bottom: 2em;
}
#header .menu__content > ul > li:nth-child(2){
  margin-right: 0em;
  margin-left: 11em;
}
#header .menu__content > ul > li:nth-child(3){
  margin-top: 2em;
  margin-bottom: 2em;
}
#header .menu__content > ul > li:nth-child(4){
  margin-right: 17.35em;
}
#header .menu__content > ul > li:nth-child(5){
  margin-left: 13em;
}
#header .menu__content .etc{
  display: flex;
  justify-content: center;
}
#header .menu__content .etc li{
  margin-bottom: 0px;
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 400;
  margin-right: 30px;
  text-align: center;
}
#header .menu__content .etc li:last-child{
  margin-right: 0;
}
.gnb ul li a{
  display: block;
  width: 100%;
}
.gnb ul li .letter__word{
  letter-spacing: -1.5px;
  margin-right: 3px;
}
.letter__word{
  display: inline-block;
}
.letter__word .letter__word__char{
  display: inline-block;
}
.letter__word__char--inner{
  position: relative;
  /* transform: matrix(, 0, 0, 1, 0, 0); */
}
.letter__word__char--inner::after{
 content: attr(data-letter);
 position: absolute;
 top: 100%;
 left: 0;
}
.gnb .logo{
  width: 10.7em;
  height: auto;
  text-align: center;
  position: relative;
  left: -50px;
}
.gnb .logo h1{
  width: 100%;
  height: 100%;
}
.gnb .logo h1 a{
  display: block;
  width: 100%;height: 100%;
  font-size:20px;
  font-family: 'Libre Baskerville', serif;
}
/* 클릭 했을 때 메뉴 커스텀 */

.gnb .menu{
  width: 5.14em;
  height: 5.14em;
  flex-basis: auto;
  border-radius: 50%;
  background-color: #f2eae0;
  transition: all 0.3s ease;
}
.gnb .menu.onmenu{
  transform: scale(1.5);
  border: 1px solid rgb(252, 249, 245);
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.3s ease;
}

.gnb .menu .menu__btn--holder{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.gnb .menu .menu__btn--holder a{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
}
.gnb .menu .menu__btn--holder a i{
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
}
.gnb .menu.onmenu .menu__btn--holder a i{
  background-color: #fff;
}
.gnb .menu .menu__btn--holder a i:nth-child(1){
  width: 30px;
  margin-bottom: 5px;
}
.gnb .menu .menu__btn--holder a i:nth-child(2){
  width: 25px;
}
/* Contact */
#contact{
  height: 48em;
  position: relative;
  z-index: 2;
  color:  #fcf9f5;
}
.container.contact{
  padding-top: 12em;
  padding-bottom: 0;
}
.align__center__contact{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.align__center__contact .title{
  width: 53.89em;
}
.title span{
  font-size: 1.5em;
}
.align__center__contact  .contact__email{
  /* color: #fcf9f5; */
  font-size: 1.74em;
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 125px;
  text-decoration: underline;
}
.align__center__contact  .contact__info{
  margin-top: 25px;
  font-size: 1.11em;
  line-height: 1.5;
  width: 400px;
  display: flex;
  justify-content: space-between;
  /* color: #fcf9f5; */
}
.align__center__contact  .contact__info a{
  margin-left: 16px;
}
.footer__gradient{
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 0px;
  z-index: -1;
  height: 100vh;
  background: linear-gradient(
0deg, #e45a2b, rgba(228, 90, 43, 0));
}